[submodule "vendor/github.com/apache/thrift"]
	path = vendor/github.com/apache/thrift
	url = https://github.com/apache/thrift
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/spaolacci/murmur3"]
	path = vendor/github.com/spaolacci/murmur3
	url = https://github.com/spaolacci/murmur3
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/uber/tchannel-go"]
	path = vendor/github.com/uber/tchannel-go
	url = https://github.com/uber/tchannel-go
[submodule "vendor/github.com/caio/go-tdigest"]
	path = vendor/github.com/caio/go-tdigest
	url = https://github.com/caio/go-tdigest
[submodule "vendor/github.com/facebookgo/clock"]
	path = vendor/github.com/facebookgo/clock
	url = https://github.com/facebookgo/clock
[submodule "vendor/github.com/cactus/go-statsd-client"]
	path = vendor/github.com/cactus/go-statsd-client
	url = https://github.com/cactus/go-statsd-client
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "vendor/github.com/m3db/m3x"]
	path = vendor/github.com/m3db/m3x
	url = https://github.com/m3db/m3x
[submodule "vendor/github.com/uber/uber-licence"]
	path = vendor/github.com/uber/uber-licence
	url = https://github.com/uber/uber-licence
[submodule "vendor/github.com/willf/bitset"]
	path = vendor/github.com/willf/bitset
	url = https://github.com/willf/bitset
[submodule "vendor/github.com/m3db/m3cluster"]
	path = vendor/github.com/m3db/m3cluster
	url = https://github.com/m3db/m3cluster
[submodule "vendor/github.com/uber-go/tally"]
	path = vendor/github.com/uber-go/tally
	url = https://github.com/uber-go/tally
