*.out
*.test
*.xml
*.swp
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.cov
*.html
*.tmp
test.log

# glide manages this
vendor/

# Build binaries
bin/

# Config output
out/

# Debug binaries
debug
debug.test

# Test data
test-data
