*.out
*.test
*.xml
*.swp
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.cov
*.html
*.tmp
test.log

# glide manages this
vendor/

# Build binaries
bin/

# Used to serve swagger documentation
!**/openapi/*.html

# Debug binaries
debug
debug.test

# Test data
test-data

# Coverage imports
coverage_imports.go

# Release directory
dist/

# Docs directory
site/

