# mocked files
mock_*.go linguist-generated
*_mock.go linguist-generated

# genny files
*_gen.go linguist-generated

# generated manifests
kube/bundle.yaml linguist-generated=true

# source files
*.go text
*.md text
