language: go
go:
  - 1.7.6
  - 1.8.3
sudo: required
dist: trusty
install: make install-ci
env:
  global:
    - TEST_TIMEOUT_SCALE=20
    - PACKAGE=github.com/m3db/m3db
  matrix:
    - MAKE_TARGET="test-ci-unit"
    - MAKE_TARGET="test-ci-integration"
    - MAKE_TARGET="lint metalint services tools"
script: "make $MAKE_TARGET"
