language: go
go:
  - 1.9.2
branches:
  only:
  - master
sudo: required
dist: trusty
install: make install-ci
env:
  global:
    - TEST_TIMEOUT_SCALE=20
    - PACKAGE=github.com/m3db/m3db
  matrix:
    - MAKE_TARGET="test-ci-unit"
    - MAKE_TARGET="test-ci-integration cache_policy=recently_read"
    - MAKE_TARGET="test-ci-integration cache_policy=none"
    - MAKE_TARGET="test-ci-integration cache_policy=all"
    - MAKE_TARGET="test-ci-integration cache_policy=all_metadata"
    - MAKE_TARGET="metalint services tools"
script: "make $MAKE_TARGET"
