site_name: M3 Documentation

theme:
  # Provide source
  name: null
  custom_dir: docs/theme

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Do not use tabs for navigation
  feature:
    tabs: false

  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.png
  logo:
    icon: "\uE80C"

edit_uri: edit/master/docs/

repo_name: m3db/m3
repo_url: https://github.com/m3db/m3

pages:
  - "Introduction": "index.md"
  - "Overview":
    - "Components": "introduction/components/components.md"
    - "Motivation": "introduction/motivation/motivation.md"
    - "Media":      "introduction/media/media.md"
  - "M3DB":
    - "Introduction": "m3db/index.md"
    - "Architecture":
      - "Overview": "m3db/architecture/index.md"
      - "Storage Engine": "m3db/architecture/engine.md"
      - "Sharding and Replication": "m3db/architecture/sharding.md"
      - "Consistency Levels": "m3db/architecture/consistencylevels.md"
      - "Storage": "m3db/architecture/storage.md"
      - "Commit Logs": "m3db/architecture/commitlogs.md"
      - "Peer Streaming": "m3db/architecture/peer_streaming.md"
      - "Caching": "m3db/architecture/caching.md"
  - "Query Engine and Coordinator":
    - "Introduction": "query_engine/index.md"
    - "API":
      - "Query": "query_engine/api/index.md"
    - "Roadmap": "query_engine/roadmap.md"
    - "Architecture":
      - "Overview": "query_engine/architecture/index.md"
      - "Blocks": "query_engine/architecture/blocks.md"
      - "Query Fanout": "query_engine/architecture/fanout.md"
      - "Function Processing": "query_engine/architecture/functions.md"
    - "Configuration":
      - "Annotated Config File": "query_engine/config/annotated_config.md"
  - "How-To's":
    - "M3DB Single Node Deployment": "how_to/single_node.md"
    - "M3DB Cluster Deployment, Manually": "how_to/cluster_hard_way.md"
    - "M3DB on Kubernetes": "how_to/kubernetes.md"
    - "M3Query": "how_to/query.md"
  - "Operational Guides":
    - "Tunning Availability, Consistency, and Durability": "operational_guide/availability_consistency_durability.md"
    - "Placement/Topology": "operational_guide/placement.md"
    - "Placement/Topology Configuration": "operational_guide/placement_configuration.md"
    - "Namespace Configuration": "operational_guide/namespace_configuration.md"
    - "Bootstrapping": "operational_guide/bootstrapping.md"
    - "Kernel Configuration": "operational_guide/kernel_configuration.md"
    - "etcd": "operational_guide/etcd.md"
  - "Integrations":
    - "Prometheus": "integrations/prometheus.md"
    - "Graphite": "integrations/graphite.md"
    - "Grafana": "integrations/grafana.md"
  - "Performance":
    - "Introduction": "performance/index.md"
    - "M3DB":
      - "M3DB Performance": "performance/m3db/index.md"
    - "m3query":
      - "m3query Performance":  "performance/m3query/index.md"
  - "Troubleshooting": "troubleshooting/index.md"
  - "FAQs": "faqs/index.md"
