version: '3'
services:
  docs:
    build:
        context: ./
        dockerfile: ../docker/docs/Dockerfile
    volumes:
      - ../:/go/src/github.com/m3db/m3
      - $SSH_AUTH_SOCK:/ssh-agent
    environment:
      - CI
      - BUILDKITE
      - BUILDKITE_AGENT_ACCESS_TOKEN
      - BUILDKITE_JOB_ID
      - BUILDKITE_BUILD_ID
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_BRANCH
      - BUILDKITE_BUILD_URL
      - BUILDKITE_PROJECT_SLUG
      - BUILDKITE_COMMIT
      - BUILDKITE_PULL_REQUEST
      - BUILDKITE_TAG
      - CODECOV_TOKEN
      - SPLIT_IDX
      - TOTAL_SPLITS
      - SSH_AUTH_SOCK=/ssh-agent
