version: "3.5"
services:
  etcd:
    image: docker.io/bitnami/etcd:3.5
    expose:
      - "2379-2380"
    ports:
      - "0.0.0.0:2379-2380:2379-2380"
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
    networks:
      - backend
  m3aggregator01:
    expose:
      - "6001"
    ports:
      - "127.0.0.1:6001:6001"
    networks:
      - backend
    environment:
      - M3AGGREGATOR_HOST_ID=m3aggregator01
    image: "m3aggregator_integration:${REVISION}"
    volumes:
      - "./m3aggregator.yml:/etc/m3aggregator/m3aggregator.yml"
    depends_on:
      - etcd
  m3aggregator02:
    expose:
      - "6002"
    ports:
      - "127.0.0.1:6002:6001"
    networks:
      - backend
    environment:
      - M3AGGREGATOR_HOST_ID=m3aggregator02
    image: "m3aggregator_integration:${REVISION}"
    volumes:
      - "./m3aggregator.yml:/etc/m3aggregator/m3aggregator.yml"
    depends_on:
      - etcd
  m3coordinator01:
    expose:
      - "7202"
    ports:
      - "0.0.0.0:7202:7201"
    networks:
      - backend
    image: "m3coordinator_integration:${REVISION}"
    volumes:
      - "./:/etc/m3coordinator/"
    depends_on:
      - etcd
  coordinatoradmin:
    expose:
      - "7201"
    ports:
      - "0.0.0.0:7201:7201"
    networks:
      - backend
    image: "m3coordinator_integration:${REVISION}"
    volumes:
      - "./m3coordinator-admin.yml:/etc/m3coordinator/m3coordinator.yml"
    depends_on:
      - etcd
  prometheusraw:
    expose:
      - "9090"
    ports:
      - "0.0.0.0:9090:9090"
    networks:
      - backend
    image: prom/prometheus:latest
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--enable-feature=remote-write-receiver"
    depends_on:
      - etcd
  prometheusagg:
    expose:
      - "9091"
    ports:
      - "0.0.0.0:9091:9090"
    networks:
      - backend
    image: prom/prometheus:latest
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--enable-feature=remote-write-receiver"
    depends_on:
      - etcd
networks:
  backend: null
