writeForwarding:
  promRemoteWrite:
    targets:
    - url: http://coordinator02:7201/api/v1/prom/remote/write

clusters:
  - client:
      config:
        service:
          env: default_env
          zone: embedded
          service: m3db
          cacheDir: /var/lib/m3kv
          etcdClusters:
            - zone: embedded
              endpoints:
                - etcd:2379
