body {
  background-color: #252540;
  background-image: url("../img/tri_bg.png");
  background-size: cover;

  color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0.2rem;
}

h1 span {
  font-weight: 300;
}

.top-bar, .top-bar ul {
  background-color: transparent;
  padding: 0;
}

.menu a {
  display: inline-block;
  line-height: 60px;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.top-nav-left a {
  display: inline-block;
  height: 60px;
  padding: 0;
}

.top-nav-left a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

#logo {
  padding: 12px 15px 2px;
  height: 50px;
}

.top-nav-left {
  flex: 1 1 auto;
}

.top-nav-right {
  flex: 0 1 auto;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

header, section {
  padding: 2rem 1rem 2rem;
}

#motivation {
  background-color: rgba(255, 255, 255, 0.15)
}

header h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  padding-bottom: 0.8em;
}

header .button {
  margin: 0 0.5rem;
}

#motivation h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

#features i {
  font-size: 4em;
  margin-bottom: 0.2em;
}

#features div {
  padding: 0.8rem 1.2rem;
}

.grid-container {
  max-width: 70rem;
}

footer {
  padding: 1rem 0 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  color: #999999;
}

footer h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

footer ul {
  font-size: 0.75em;
  line-height: 1.6;
  list-style-type: none;
  margin: 0;
}

footer a {
  color: #777777;
}

footer a:hover {
  color: #999999;
}

@media (max-width: 639px) {
  .menu a {
    line-height: 50px;
    padding: 0 0.7rem;
  }

  .top-nav-left a {
    height: 50px;
  }

  #logo {
    padding: 10px 15px 0;
    height: 44px;
  }

  header, section {
    padding: 1rem 1rem 2.5rem;
  }
}
