[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/facebookgo/clock"]
	path = vendor/github.com/facebookgo/clock
	url = https://github.com/facebookgo/clock
[submodule "vendor/github.com/cactus/go-statsd-client"]
	path = vendor/github.com/cactus/go-statsd-client
	url = https://github.com/cactus/go-statsd-client
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
