{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 1,
  "links": [],
  "panels": [
  {{range $i, $v := .Queries}}{{if $i}},{{end}}
    {
      "collapsed": true,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": {{$v.Index}},
      "panels": [{{range $idx, $q := $v.Queries }}{{with $q}}{{if $idx}},{{end}}
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "-- Mixed --",
          "fill": 1,
          "fillGradient": 0,
          "gridPos": {
            "h": 9,
            "w": 12,
            "x": {{if .Left}}0{{else}}12{{end}},
            "y": 0
          },
          "id": {{.Index}},
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "nullPointMode": "null",
          "options": {
            "dataLinks": []
          },
          "percentage": false,
          "pointradius": 2,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "spaceLength": 10,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "datasource": "M3Query",
              "expr": "{{.Query}}",
              "hide": false,
              "interval": "{{.Interval}}",
              "legendFormat": "m3",
              "refId": "A"
            },
            {
              "datasource": "Prometheus",
              "expr": "{{.Query}}",
              "hide": false,
              "interval": "{{.Interval}}",
              "legendFormat": "prom",
              "refId": "B"
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeRegions": [],
          "timeShift": null,
          "title": "{{.Query}} : {{.Interval}}",
          "tooltip": {
            "shared": true,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": true
            },
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": true
            }
          ],
          "yaxis": {
            "align": false,
            "alignLevel": null
          }
        }{{end}}{{end}}
      ],
      "title": "{{$v.QueryGroup}}",
      "type": "row"
    }
  {{end}}
  ],
  "refresh": false,
  "schemaVersion": 20,
  "style": "dark",
  "tags": ["queries"],
  "templating": {
    "list": []
  },
  "time": {
    "from": "{{.Start}}",
    "to": "{{.End}}"
  },
  "timepicker": {
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ]
  },
  "timezone": "",
  "title": "Dashboard {{.Revision}}",
  "uid": "{{.Revision}}",
  "version": 1
}
